<div class="animated fadeInDown">
    <p>
        <a class="btn btn-sm btn-primary" id="insertKeyValueMenu" cid="${category.id}">添加属性</a>
        <a class="btn btn-sm btn-danger" id="deleteKeyValueMenu" cid="${category.id}">删除属性</a>
        <a class="btn btn-sm btn-info" id="insertCategoryMenu" cid="${category.id}">添加子目录</a>
        <a class="btn btn-sm btn-warning" id="deleteCategoryMenu" cid="${category.id}">删除当前目录</a>
    </p>

    #if(!$!propertyValueList)
        <p class="alert alert-danger">当前目录下还没有配置任何属性</p>
    #else
        <table class="table table-hover">
            <thead>
            <tr>
                <td>键</td>
                <td>值</td>
                <td>注释</td>
            </tr>
            </thead>
            <tbody>
                #foreach($property in $propertyValueList)
                <tr>
                    <td>
                        <a href="javascript:void(0)" cid="$!category.id" pid="$!property.id"
                           desc="$!property.description" v="$!property.value"
                           class="updatePropertyValue">$property.name</a>
                    </td>
                    <td>$property.value</td>
                    <td>$property.description</td>
                </tr>
                #end
            </tbody>
        </table>
    #end
</div>




